<div class="container__big-card">
    <div class="big-card__foto">
        <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" 
         alt="" 
         srcset=""/>
    </div>

    <div class="big-card__titulo">
        <h1> <a href="#"> Tecnologia Angular </a> </h1>
    </div>

    <div class="big-card__descricao">
        <p>Angular é um dos frameworks JavaScript
            mais populares entre os desenvolvedores que usam a ferramenta para desenvolver e construir sites dinâmicos.
        </p>
    </div>

</div>
